{% extends 'blog/base.html' %}

{% block content %}
  <main class="main-content section-wrapper">
    <div class="section-content-wide">
      <div class="section-gap">
        
        <div class="card-grid">
          {% if page_obj %}
            {% for post in page_obj %}
              {% include 'blog/partials/_post-card.html' with i=forloop.counter0 %}
            {% endfor %}
          {% else %}
            <div class="not-found center">
              <h1>Nenhum Post encontrado 😔</h2>
              <p>Não encontrei nada nesse link, por favor , vá para um link disponível do blog
                ou vá para <a href="{% url 'blog:index' %}">Home</a> do blog.</p>
              </p>
            </div>
          {% endif %}
        </div>

      </div>
    </div>
  </main>
{% endblock content %}